language: node_js

node_js: "node"

before_script:
  - npm install -g truffle@4.1.0 ganache-cli@6.1.0
  - npm install

script: 
  - ganache-cli -m=plasma_mvp > /dev/null &
  - sleep 5
  - truffle migrate
  - truffle test
